<head>
<link rel="stylesheet" href="../../css/stylesheet-c.css">
</head>

<body>
	<header id="cabecalho" class="borda">
		<ul id="barra">
			<li id="logo" class="bloco"> </li>
			<li id="campeonatos" class="bloco"> </li>
			<li id="registrar" class="bloco"> </li>
			<li id="login" class="bloco"> </li>
		<ul>
	</header>

	<div id="campeonato" class="borda">

	</div>

	<section id="noticias" class="borda centralizar">

	</section>

	<section id="patch" class="borda centralizar">

	</section>
</body>