<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../../css/stylesheet-c.css">
	<script scr="../../js/home/home.js"> </script>
</head>

<body>
	<!-- Todo o cabeçalho no topo da página -->
	<header id="cabecalho">
		<!-- Barra para atividades básicas (independente de estar logado ou não) -->
		<ul class="barra">
			<li class="bloco-esquerda"> 
				<a href="../home/home.html" class="link"> <img src="../../images/logo.png" id="logo"> </a> 
			</li>
			<li class="bloco bloco-esquerda"> 
				<a href="" class="link" id="campeonatos"> Campeonatos </a> 
			</li>

		<!-- Barra para atividades de login/registro -->
			<li class="bloco bloco-direita"> 
				<a href="../login/login.html" class="link" id="registrar"> Registrar </a> 
			</li>
			<li class="bloco bloco-direita"> 
				<a href="" class="link" id="login"> Login </a> 
			</li>

		<!-- Barra para 'Criar Campeonato' que só aparecerá para usuário logado -->
			<li id="criar-campeonato" class="bloco bloco-direita">
				<a href="" class="link"> Criar Campeonato </a>
			</li>
		</ul>
	</header>

	<!-- Foto de um campeonato abaixo do cabeçalho -->
	<div id="campeonato">

	</div>

	<!-- Bloco de notícias à esquerda -->
	<section id="noticias" class="centralizar">
		<p class="titulo"> Noticias Recentes </p>
	</section>

	<!-- Bloco de notícias de patch à direita -->
	<section id="patch" class="centralizar">
		<p class="titulo"> Novidades de patch </p>
	</section>

	<script scr="../../js/login/login.js"> </script>
</body>
</html>