<head>
	<link rel="stylesheet" href="../../css/stylesheet-c.css">
</head>

<body>
	<header id="cabecalho">
		<ul id="barra-comum" class="barra">
			<li class="bloco-esquerda"> 
				<a href="../home/home.html" id="link"> <img src="../../images/logo.png" id="logo"> </a> 
			</li>
			<li id="campeonatos" class="bloco bloco-esquerda"> 
				<a href="" id="link"> Campeonatos </a> 
			</li>
		</ul>

		<ul id="barra-registro" class="barra">
			<li id="registrar" class="bloco bloco-direita"> 
				<a href="../login/login.html" id="link"> Registrar </a> 
			</li>
			<li id="login" class="bloco bloco-direita"> 
				<a href="" id="link"> Login </a> 
			</li>
		</ul>
	</header>

	<div id="campeonato">

	</div>

	<section id="noticias" class="centralizar">
		<p class="titulo"> Noticias Recentes </p>
	</section>

	<section id="patch" class="centralizar">
		<p class="titulo"> Novidades de patch </p>
	</section>
</body>